:root {
    --primary-color: #ea4242;
    --secondary-color: #472424;
    --background-color: #1a1111;
    --card-background-color: #211616;
    --text-primary: #ffffff;
    --text-secondary: #e0b4b4;
    --border-color: #653434;
}